{%- unless product.has_only_default_variant -%}
  <variant-selects
    class="sk-radiance-variant-selects no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    data-update-url="false"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      <fieldset class="sk-radiance-variant-selects__fieldset js product-form__input">
        <legend class="sk-radiance-variant-selects__legend form__label">
          {{ option.name }}
        </legend>
        {%- for value in option.values -%}
          <input
            type="radio"
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            form="{{ product_form_id }}"
            {% if option.selected_value == value %}
              checked
            {% endif %}
            {% if value == product.selected_or_first_available_variant.options[forloop.index0] %}
              checked
            {% endif %}
          >
          <label
            for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            class="sk-radiance-variant-selects__label sk-radiance-variant-selects__label--{{ block.settings.picker_type }}"
          >
            <span class="sk-radiance-variant-selects__label-text">{{ value }}</span>
          </label>
        {%- endfor -%}
      </fieldset>
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>
{%- endunless -%}

<noscript class="sk-radiance-variant-selects product-form__noscript-wrapper-{{ section.id }}">
  <div class="sk-radiance-variant-selects__fieldset">
    <div class="sk-radiance-variant-selects__legend form__label">
      {{ 'products.product.product_variants' | t }}
    </div>
    <div class="sk-radiance-variant-selects__select-wrapper">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="sk-radiance-variant-selects__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false -%}
              - {{ 'products.product.sold_out' | t }}
            {%- endif -%}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
    </div>
  </div>
</noscript>
