{% comment %} {%- comment -%}
  Reusable guarantee banner for SK Radiance product section.
  Can be invoked in two contexts:
  - below-media (pass show_below_media: true)
  - block (pass block: block)
  Receives: section, product, optional block, optional show_below_media
{%- endcomment -%}

{%- if show_below_media and product.metafields.custom.guarantee_banner_content != blank -%}
  <div class="sk-radiance-guarantee-banner sk-radiance-guarantee-banner--below-media">
    <div class="sk-radiance-guarantee-banner__content">
      {%- capture guarantee_content -%}
        {{ product.metafields.custom.guarantee_banner_content | metafield_tag }}
      {%- endcapture -%}
      {{ guarantee_content }}
    </div>
    {%- if section.settings.guarantee_button_text != blank and section.settings.guarantee_button_link != blank -%}
      <a href="{{ section.settings.guarantee_button_link }}" class="sk-radiance-guarantee-banner__button">
        {{ section.settings.guarantee_button_text }}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M7.5 15L12.5 10L7.5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    {%- endif -%}
  </div>

{%- elsif block and product.metafields.custom.guarantee_banner_content != blank -%}
  <div class="sk-radiance-guarantee-banner" {{ block.shopify_attributes }}>
    <div class="sk-radiance-guarantee-banner__content">
      {%- capture guarantee_content -%}
        {{ product.metafields.custom.guarantee_banner_content | metafield_tag }}
      {%- endcapture -%}
      {{ guarantee_content }}
    </div>
    {%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
      <a href="{{ block.settings.button_link }}" class="sk-radiance-guarantee-banner__button">
        {{ block.settings.button_text }}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M7.5 15L12.5 10L7.5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    {%- endif -%}
  </div>
{%- endif -%} {% endcomment %}
