{%- liquid
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 0
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif
  assign has_compare = false
  assign money_value = ''
  if compare_at_price > price
    assign has_compare = true
    if settings.currency_code_enabled
      assign money_value = compare_at_price | money_with_currency
    else
      assign money_value = compare_at_price | money
    endif
  endif
  assign on_sale = has_compare
-%}

<div class="sk-radiance-price sk-radiance-price--{{ price_class }} sk-radiance-price--{{ section.settings.price_size }} sk-radiance-price--{{ section.settings.price_layout }} sk-radiance-price--{{ section.settings.price_alignment }} sk-radiance-price--unavailable-{{ available }}">
  <div class="sk-radiance-price__container">
    <div class="sk-radiance-price__wrapper">
      <div class="sk-price">
        {% if has_compare %}
          <span class="sk-price__value">Verdi {{ money_value }}</span>
        {% endif %}
        <span class="sk-price__current">{{ money_price }}</span>
      </div>
      <small class="sk-radiance-price__availability sk-radiance-price__availability--{{ available }}">
        {%- if show_badges -%}
          {%- if available == false -%}
            {{ 'products.product.sold_out' | t }}
          {%- elsif on_sale -%}
            {{ 'products.product.on_sale' | t }}
          {%- endif -%}
        {%- endif -%}
      </small>
    </div>
    <div class="sk-radiance-buy-buttons__payment-methods">
      <div class="sk-radiance-buy-buttons__payment-methods-title d-none">
        {{ 'products.product.payment_methods' | t }}
      </div>
      <div class="sk-radiance-buy-buttons__payment-methods-logos">
        <div class="sk-radiance-buy-buttons__payment-method">
          <img
            src="{{ 'visa-logo.svg' | asset_url }}"
            alt="Visa"
            class="sk-radiance-buy-buttons__payment-logo"
            width="47"
            height="34"
          >
        </div>
        <div class="sk-radiance-buy-buttons__payment-method">
          <img
            src="{{ 'mastercard-logo.svg' | asset_url }}"
            alt="Mastercard"
            class="sk-radiance-buy-buttons__payment-logo"
            width="47"
            height="34"
          >
        </div>
        <div class="sk-radiance-buy-buttons__payment-method">
          <img
            src="{{ 'apple-pay-logo.svg' | asset_url }}"
            alt="Apple Pay"
            class="sk-radiance-buy-buttons__payment-logo"
            width="47"
            height="34"
          >
        </div>
        <div class="sk-radiance-buy-buttons__payment-method">
          <img
            src="{{ 'klarna-logo.svg' | asset_url }}"
            alt="Klarna"
            class="sk-radiance-buy-buttons__payment-logo"
            width="47"
            height="34"
          >
        </div>
      </div>
    </div>
    {%- if show_badges -%}
      <span class="sk-radiance-badges sk-radiance-badges--{{ section.settings.badge_position }} sk-radiance-badges--{{ section.settings.badge_design }}">
        {%- if available == false -%}
          <span class="sk-radiance-badge sk-radiance-badge--sold-out">
            <span class="sk-radiance-badge__text">{{ 'products.product.sold_out' | t }}</span>
          </span>
        {%- elsif on_sale -%}
          <span class="sk-radiance-badge sk-radiance-badge--sale">
            <span class="sk-radiance-badge__text">{{ 'products.product.on_sale' | t }}</span>
          </span>
        {%- endif -%}
      </span>
    {%- endif -%}
  </div>
  {%- comment -%} Pickup availability removed - snippet not available {%- endcomment -%}
</div>

{%- if product.quantity_price_breaks_configured? -%}
  <div class="sk-radiance-volume-pricing sk-radiance-volume-pricing--{{ section.settings.volume_pricing_style }}">
    <div class="sk-radiance-volume-pricing__container">
      <span class="sk-radiance-volume-pricing__title">{{ 'products.product.volume_pricing.title' | t }}</span>
      <ul class="sk-radiance-volume-pricing__list">
        {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
          <li class="sk-radiance-volume-pricing__item">
            <span class="sk-radiance-volume-pricing__quantity">{{ price_break.minimum_quantity }}+</span>
            <span class="sk-radiance-volume-pricing__price">
              {%- if settings.currency_code_enabled -%}
                {{ price_break.price | money_with_currency }}
              {%- else -%}
                {{ price_break.price | money }}
              {%- endif -%}
            </span>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endif -%}
