{%- unless product.has_only_default_variant -%}
  <variant-selects
    class="sk-radiance-variant-selects no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    data-update-url="false"
    {{ block.shopify_attributes }}
  >
    <fieldset class="sk-radiance-variant-selects__fieldset js product-form__input">
      <div class="sk-radiance-variant-cards">
        {%- for variant in product.variants -%}
          <div class="sk-radiance-variant-card {% if variant.id == product.selected_or_first_available_variant.id %} sk-radiance-variant-card--active {% endif %}">
            <a
              href="{{ product.url }}?variant={{ variant.id }}"
              class="sk-radiance-variant-card__link"
            >
              <div class="sk-radiance-variant-card__image">
                {%- if variant.featured_image -%}
                  <img
                    src="{{ variant.featured_image | image_url: width: 200 }}"
                    alt="{{ variant.featured_image.alt | escape }}"
                    width="200"
                    height="200"
                    loading="lazy"
                  >
                {%- else -%}
                  <img
                    src="{{ product.featured_image | image_url: width: 200 }}"
                    alt="{{ product.featured_image.alt | escape }}"
                    width="200"
                    height="200"
                    loading="lazy"
                  >
                {%- endif -%}
              </div>
              <div class="sk-radiance-variant-card__content">
                <h3 class="sk-radiance-variant-card__title">{{ variant.title }}</h3>
              </div>
              <div class="sk-radiance-variant-card__price">
                <span class="sk-radiance-variant-card__price-wrapper">
                  <s class="sk-radiance-variant-card__compare-price">
                    {{ variant.compare_at_price | money | strip_html }}
                  </s>
                  <span class="sk-radiance-variant-card__current-price">
                    {{ variant.price | money | strip_html }}
                  </span>
                </span>
              </div>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </fieldset>
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>
{%- endunless -%}

<noscript class="sk-radiance-variant-selects product-form__noscript-wrapper-{{ section.id }}">
  <div class="sk-radiance-variant-selects__fieldset">
    <div class="sk-radiance-variant-selects__legend form__label">
      {{ 'products.product.product_variants' | t }}
    </div>
    <div class="sk-radiance-variant-selects__select-wrapper">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="sk-radiance-variant-selects__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false -%}
              - {{ 'products.product.sold_out' | t }}
            {%- endif -%}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
    </div>
  </div>
</noscript>
