<style>
    .sk-product-specifications-{{ section.id }} {
      background: #FFFFFF;
      padding: 7rem 0;
      margin-bottom: 18rem;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__main-heading {
      font-size: var(--section-heading-h2);
      line-height: var(--section-heading-h2-line);
      font-weight: 600;
      color: #30273E;
      margin-bottom: 30px;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__image {
      flex: 0 0 580px;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__image img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__item {
      display: flex;
      align-items: start;
      gap: 16px;
      margin-bottom: 24px;
      /* padding-bottom: 24px; */
      border-bottom: 1px solid #E5E5E5;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__item:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      flex-flow: nowrap;
      position: relative

    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__icon {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__icon svg {
      width: 24px;
      height: 24px;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__text h3,
    .sk-product-specifications-{{ section.id }} .sk-specifications__text h4 {
      font-size: var(--sk-font-size-medium);
      font-weight: 700;
      color: #6C6C6C;
      margin: 0 0 4px 0;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__text p {
      font-size: var(--sk-font-size-medium);
      line-height: 1.6;
      color: #666666;
      margin: 0;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__sub-items {
      list-style: none;
      padding: 12px 0 0 0;
      margin: 0;
      position: absolute;
      top: 35px;
      left: 40px;

    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__sub-item {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 8px;
      font-size: var(--sk-font-size-medium);
      color: #666666;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__sub-item svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }


    .sk-specifications__item:last-child .sk-specifications__text{
      display: none;
    }

    .sk-product-specifications-{{ section.id }} .sk-specifications__list .sk-specifications__item h4{
      font-weight: 600;
      color: #6C6C6C;
    }

    @media only screen and (max-width: 700px) {
      .sk-product-specifications-{{ section.id }} .sk-specifications__image {
        flex: 0 0 100%;
      }
      .sk-product-specifications-{{ section.id }} .sk-specifications__container {
        justify-content: start;
      }
      .sk-specifications__content{
        width: 100%;
        margin-top: 26px;
      }
    }
    @media only screen and (max-width: 435px) {
      .sk-product-specifications-{{ section.id }} .sk-specifications__main-heading {
        font-size: calc(var(--section-heading-h2) * 0.9);
        line-height: var(--section-heading-h2-line);
      }
      .sk-product-specifications-{{ section.id }} .sk-specifications__icon svg {
      width: 18px;
      height: 18px;
    }
    .sk-product-specifications-{{ section.id }} .sk-specifications__text p {
      font-size: var(--sk-font-size-xxs);
      line-height: 20px;
    }
    .sk-product-specifications-{{ section.id }} .sk-specifications__sub-item {
      font-size: var(--sk-font-size-xxs);
    }
    .sk-product-specifications-{{ section.id }} .sk-specifications__sub-item svg {
      width: 14px;
      height: 14px;

    }
    .sk-product-specifications-{{ section.id }} .sk-specifications__item {
      gap: 20px;
      margin-bottom: 15px;
    }


  }
</style>

{%- if product.metafields.custom.specifications_content != blank
  or product.metafields.custom.specifications_image != blank
-%}
  <section class="sk-product-specifications-{{ section.id }}">
    <div class="page-width">
      <div class="sk-specifications__container">
        <!-- Image Section -->
        <div class="sk-specifications__image">
          {%- if product.metafields.custom.specifications_image != blank -%}
            <img
              src="{{ product.metafields.custom.specifications_image | image_url: width: 550, height: 600 }}"
              alt="{{ product.metafields.custom.specifications_image.alt | default: product.title }}"
              width="550"
              height="600"
              loading="lazy"
            >
          {%- else -%}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>

        <!-- Content Section -->
        <div class="sk-specifications__content">
          {%- if product.metafields.custom.specifications_content != blank -%}
            {%- capture specifications_html -%}
              {{ product.metafields.custom.specifications_content | metafield_tag }}
            {%- endcapture -%}

            {%- comment -%} Extract main heading {%- endcomment -%}
            {%- assign heading_start = specifications_html | split: '<h2>' | first -%}
            {%- if heading_start == specifications_html -%}
              {%- assign heading_start = specifications_html | split: '<h3>' | first -%}
              {%- assign heading_end = specifications_html | split: '</h3>' | last -%}
              {%- assign heading_full = specifications_html
                | replace: heading_start, ''
                | replace: heading_end, ''
                | replace: '<h3>', ''
                | replace: '</h3>', ''
                | strip
              -%}
            {%- else -%}
              {%- assign heading_end = specifications_html | split: '</h2>' | last -%}
              {%- assign heading_full = specifications_html
                | replace: heading_start, ''
                | replace: heading_end, ''
                | replace: '<h2>', ''
                | replace: '</h2>', ''
                | strip
              -%}
            {%- endif -%}

            {%- if heading_full != blank -%}
              <h2 class="sk-header__section sk-specifications__main-heading sk-section-heading sk-section-heading--h2">
                {{ heading_full }}
              </h2>
            {%- endif -%}

            {%- comment -%} Parse specifications with icon patterns {%- endcomment -%}
            {%- assign specs = specifications_html | split: '##' -%}

            <ul class="sk-specifications__list">
              {%- for spec in specs -%}
                {%- if spec contains '||' -%}
                  {%- assign spec_parts = spec | split: '||' -%}
                  {%- assign icon_type = spec_parts[0] | strip | downcase -%}
                  {%- assign spec_content = spec_parts[1] | strip -%}

                  <li class="sk-specifications__item">
                    <div class="sk-specifications__icon">
                      {%- case icon_type -%}
                        {%- when 'wave' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="22"
                            height="14"
                            viewBox="0 0 22 14"
                            fill="none"
                          >
                            <path d="M21.2591 6.96025C19.2351 11.2746 17.4688 13.2837 15.6876 13.2837C13.4535 13.2837 12.0126 10.2124 10.4873 6.96025C9.2432 4.29963 7.82852 1.28369 6.31258 1.28369C5.45195 1.28369 3.96883 2.26807 1.76289 6.96025C1.69777 7.09244 1.58337 7.1938 1.4443 7.24253C1.30522 7.29125 1.15258 7.28346 1.0192 7.22082C0.885811 7.15818 0.782333 7.0457 0.731013 6.90756C0.679694 6.76942 0.684632 6.61666 0.744765 6.48213C2.76508 2.16775 4.53133 0.158691 6.31258 0.158691C8.54664 0.158691 9.98758 3.22994 11.5129 6.48213C12.757 9.14275 14.1716 12.1587 15.6876 12.1587C16.5482 12.1587 18.036 11.1743 20.2373 6.48213C20.3024 6.34994 20.4168 6.24858 20.5559 6.19986C20.6949 6.15113 20.8476 6.15893 20.981 6.22157C21.1143 6.2842 21.2178 6.39669 21.2691 6.53482C21.3205 6.67296 21.3155 6.82572 21.2554 6.96025H21.2591Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'dots' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="25"
                            viewBox="0 0 24 25"
                            fill="none"
                          >
                            <path d="M5.67949 5.31094C5.67949 5.52647 5.61558 5.73716 5.49583 5.91636C5.37609 6.09557 5.2059 6.23525 5.00677 6.31773C4.80765 6.40021 4.58854 6.42179 4.37715 6.37974C4.16576 6.33769 3.97158 6.2339 3.81918 6.0815C3.66678 5.9291 3.56299 5.73492 3.52094 5.52353C3.47889 5.31214 3.50047 5.09303 3.58295 4.89391C3.66543 4.69478 3.80511 4.52459 3.98432 4.40485C4.16352 4.2851 4.37421 4.22119 4.58974 4.22119C4.87876 4.22119 5.15594 4.336 5.36031 4.54037C5.56468 4.74474 5.67949 5.02192 5.67949 5.31094ZM12 4.22119C11.7845 4.22119 11.5738 4.2851 11.3946 4.40485C11.2154 4.52459 11.0757 4.69478 10.9932 4.89391C10.9107 5.09303 10.8891 5.31214 10.9312 5.52353C10.9732 5.73492 11.077 5.9291 11.2294 6.0815C11.3818 6.2339 11.576 6.33769 11.7874 6.37974C11.9988 6.42179 12.2179 6.40021 12.417 6.31773C12.6162 6.23525 12.7863 6.09557 12.9061 5.91636C13.0258 5.73716 13.0897 5.52647 13.0897 5.31094C13.0897 5.02192 12.9749 4.74474 12.7706 4.54037C12.5662 4.336 12.289 4.22119 12 4.22119ZM19.4103 6.40068C19.6258 6.40068 19.8365 6.33677 20.0157 6.21702C20.1949 6.09728 20.3346 5.92709 20.417 5.72796C20.4995 5.52884 20.5211 5.30973 20.4791 5.09834C20.437 4.88695 20.3332 4.69277 20.1808 4.54037C20.0284 4.38797 19.8342 4.28418 19.6229 4.24213C19.4115 4.20008 19.1924 4.22166 18.9932 4.30414C18.7941 4.38662 18.6239 4.5263 18.5042 4.70551C18.3844 4.88471 18.3205 5.0954 18.3205 5.31094C18.3205 5.59995 18.4353 5.87713 18.6397 6.0815C18.8441 6.28587 19.1212 6.40068 19.4103 6.40068ZM4.58974 11.6314C4.37421 11.6314 4.16352 11.6954 3.98432 11.8151C3.80511 11.9348 3.66543 12.105 3.58295 12.3042C3.50047 12.5033 3.47889 12.7224 3.52094 12.9338C3.56299 13.1452 3.66678 13.3394 3.81918 13.4918C3.97158 13.6442 4.16576 13.7479 4.37715 13.79C4.58854 13.832 4.80765 13.8105 5.00677 13.728C5.2059 13.6455 5.37609 13.5058 5.49583 13.3266C5.61558 13.1474 5.67949 12.9367 5.67949 12.7212C5.67949 12.4322 5.56468 12.155 5.36031 11.9506C5.15594 11.7463 4.87876 11.6314 4.58974 11.6314ZM12 11.6314C11.7845 11.6314 11.5738 11.6954 11.3946 11.8151C11.2154 11.9348 11.0757 12.105 10.9932 12.3042C10.9107 12.5033 10.8891 12.7224 10.9312 12.9338C10.9732 13.1452 11.077 13.3394 11.2294 13.4918C11.3818 13.6442 11.576 13.7479 11.7874 13.79C11.9988 13.832 12.2179 13.8105 12.417 13.728C12.6162 13.6455 12.7863 13.5058 12.9061 13.3266C13.0258 13.1474 13.0897 12.9367 13.0897 12.7212C13.0897 12.4322 12.9749 12.155 12.7706 11.9506C12.5662 11.7463 12.289 11.6314 12 11.6314ZM19.4103 11.6314C19.1947 11.6314 18.984 11.6954 18.8048 11.8151C18.6256 11.9348 18.4859 12.105 18.4035 12.3042C18.321 12.5033 18.2994 12.7224 18.3415 12.9338C18.3835 13.1452 18.4873 13.3394 18.6397 13.4918C18.7921 13.6442 18.9863 13.7479 19.1977 13.79C19.409 13.832 19.6282 13.8105 19.8273 13.728C20.0264 13.6455 20.1966 13.5058 20.3163 13.3266C20.4361 13.1474 20.5 12.9367 20.5 12.7212C20.5 12.4322 20.3852 12.155 20.1808 11.9506C19.9765 11.7463 19.6993 11.6314 19.4103 11.6314ZM4.58974 19.0417C4.37421 19.0417 4.16352 19.1056 3.98432 19.2254C3.80511 19.3451 3.66543 19.5153 3.58295 19.7144C3.50047 19.9135 3.47889 20.1327 3.52094 20.344C3.56299 20.5554 3.66678 20.7496 3.81918 20.902C3.97158 21.0544 4.16576 21.1582 4.37715 21.2003C4.58854 21.2423 4.80765 21.2207 5.00677 21.1382C5.2059 21.0558 5.37609 20.9161 5.49583 20.7369C5.61558 20.5577 5.67949 20.347 5.67949 20.1314C5.67949 19.8424 5.56468 19.5652 5.36031 19.3609C5.15594 19.1565 4.87876 19.0417 4.58974 19.0417ZM12 19.0417C11.7845 19.0417 11.5738 19.1056 11.3946 19.2254C11.2154 19.3451 11.0757 19.5153 10.9932 19.7144C10.9107 19.9135 10.8891 20.1327 10.9312 20.344C10.9732 20.5554 11.077 20.7496 11.2294 20.902C11.3818 21.0544 11.576 21.1582 11.7874 21.2003C11.9988 21.2423 12.2179 21.2207 12.417 21.1382C12.6162 21.0558 12.7863 20.9161 12.9061 20.7369C13.0258 20.5577 13.0897 20.347 13.0897 20.1314C13.0897 19.8424 12.9749 19.5652 12.7706 19.3609C12.5662 19.1565 12.289 19.0417 12 19.0417ZM19.4103 19.0417C19.1947 19.0417 18.984 19.1056 18.8048 19.2254C18.6256 19.3451 18.4859 19.5153 18.4035 19.7144C18.321 19.9135 18.2994 20.1327 18.3415 20.344C18.3835 20.5554 18.4873 20.7496 18.6397 20.902C18.7921 21.0544 18.9863 21.1582 19.1977 21.2003C19.409 21.2423 19.6282 21.2207 19.8273 21.1382C20.0264 21.0558 20.1966 20.9161 20.3163 20.7369C20.4361 20.5577 20.5 20.347 20.5 20.1314C20.5 19.8424 20.3852 19.5652 20.1808 19.3609C19.9765 19.1565 19.6993 19.0417 19.4103 19.0417Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'clock' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="25"
                            viewBox="0 0 24 25"
                            fill="none"
                          >
                            <path d="M12 2.72119C10.0222 2.72119 8.08879 3.30768 6.4443 4.40649C4.79981 5.50531 3.51809 7.0671 2.76121 8.89436C2.00433 10.7216 1.8063 12.7323 2.19215 14.6721C2.578 16.6119 3.53041 18.3937 4.92894 19.7923C6.32746 21.1908 8.10929 22.1432 10.0491 22.529C11.9889 22.9149 13.9996 22.7169 15.8268 21.96C17.6541 21.2031 19.2159 19.9214 20.3147 18.2769C21.4135 16.6324 22 14.699 22 12.7212C21.9969 10.07 20.9423 7.52825 19.0676 5.65356C17.1929 3.77887 14.6512 2.7243 12 2.72119ZM12 21.5447C10.2549 21.5447 8.54893 21.0272 7.09791 20.0577C5.64689 19.0881 4.51596 17.7101 3.84813 16.0978C3.18029 14.4855 3.00556 12.7114 3.34602 10.9998C3.68647 9.28821 4.52683 7.71601 5.76083 6.48201C6.99482 5.24802 8.56702 4.40766 10.2786 4.0672C11.9902 3.72675 13.7643 3.90148 15.3766 4.56931C16.9889 5.23714 18.367 6.36808 19.3365 7.8191C20.306 9.27012 20.8235 10.9761 20.8235 12.7212C20.8209 15.0605 19.8905 17.3033 18.2363 18.9575C16.5821 20.6117 14.3394 21.5421 12 21.5447ZM18.0784 12.7212C18.0784 12.8772 18.0165 13.0268 17.9061 13.1371C17.7958 13.2474 17.6462 13.3094 17.4902 13.3094H12C11.844 13.3094 11.6944 13.2474 11.5841 13.1371C11.4737 13.0268 11.4118 12.8772 11.4118 12.7212V7.23099C11.4118 7.07498 11.4737 6.92536 11.5841 6.81505C11.6944 6.70473 11.844 6.64276 12 6.64276C12.156 6.64276 12.3056 6.70473 12.4159 6.81505C12.5263 6.92536 12.5882 7.07498 12.5882 7.23099V12.133H17.4902C17.6462 12.133 17.7958 12.1949 17.9061 12.3052C18.0165 12.4156 18.0784 12.5652 18.0784 12.7212Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'tools' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="19"
                            viewBox="0 0 16 19"
                            fill="none"
                          >
                            <path d="M15.6092 16.4233L8.80743 9.72119L15.6092 3.01906L15.6176 3.01045C15.8 2.82309 15.9243 2.58425 15.9748 2.32414C16.0252 2.06404 15.9996 1.79437 15.9011 1.54927C15.8026 1.30417 15.6357 1.09466 15.4214 0.947251C15.2072 0.799845 14.9553 0.721172 14.6976 0.721191H1.30241C1.04482 0.721172 0.793013 0.799777 0.578832 0.947063C0.364651 1.09435 0.197716 1.3037 0.0991391 1.54865C0.000562606 1.79359 -0.0252275 2.06312 0.0250302 2.32315C0.0752879 2.58318 0.199336 2.82203 0.381486 3.00949L0.389858 3.01811L7.19164 9.72023L0.390789 16.4233L0.382417 16.4319C0.200003 16.6193 0.0756933 16.8581 0.0252222 17.1182C-0.025249 17.3783 0.000387609 17.648 0.0988868 17.8931C0.197386 18.1382 0.36432 18.3477 0.578558 18.4951C0.792796 18.6425 1.04471 18.7212 1.30241 18.7212H14.6976C14.9552 18.7212 15.207 18.6426 15.4212 18.4953C15.6353 18.348 15.8023 18.1387 15.9009 17.8937C15.9994 17.6488 16.0252 17.3793 15.975 17.1192C15.9247 16.8592 15.8007 16.6204 15.6185 16.4329L15.6092 16.4233ZM1.13124 1.98789C1.14436 1.9524 1.16789 1.922 1.19856 1.90089C1.22923 1.87979 1.26553 1.86904 1.30241 1.87013H14.6976C14.734 1.87008 14.7697 1.88105 14.8001 1.90167C14.8305 1.92229 14.8544 1.95166 14.8688 1.98612C14.8832 2.02059 14.8874 2.05864 14.8809 2.09554C14.8745 2.13245 14.8576 2.1666 14.8325 2.19374L8 8.92555L1.16845 2.19374C1.14252 2.16748 1.12505 2.13366 1.11839 2.09684C1.11174 2.06003 1.11622 2.022 1.13124 1.98789ZM14.8688 17.4545C14.8556 17.49 14.8321 17.5204 14.8014 17.5415C14.7708 17.5626 14.7345 17.5733 14.6976 17.5723H1.30241C1.26597 17.5723 1.23032 17.5613 1.19989 17.5407C1.16945 17.5201 1.14557 17.4907 1.13121 17.4563C1.11684 17.4218 1.11263 17.3837 1.11908 17.3468C1.12554 17.3099 1.14238 17.2758 1.16752 17.2486L8 10.5168L14.8315 17.2486C14.8575 17.2749 14.875 17.3087 14.8816 17.3455C14.8883 17.3824 14.8838 17.4204 14.8688 17.4545Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'battery' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="27"
                            viewBox="0 0 16 27"
                            fill="none"
                          >
                            <path d="M10.2607 14.6642C10.3183 14.7568 10.3512 14.8624 10.3562 14.9711C10.3613 15.0798 10.3384 15.188 10.2896 15.2855L8.57536 18.6953C8.53765 18.7704 8.48543 18.8375 8.42168 18.8925C8.35792 18.9476 8.28389 18.9896 8.2038 19.0163C8.12371 19.0429 8.03913 19.0535 7.95489 19.0477C7.87066 19.0418 7.78841 19.0194 7.71286 18.9819C7.6373 18.9444 7.56991 18.8925 7.51453 18.8291C7.45916 18.7657 7.41688 18.6921 7.39012 18.6124C7.36336 18.5327 7.35263 18.4486 7.35855 18.3649C7.36448 18.2811 7.38693 18.1993 7.42464 18.1241L8.67393 15.6392H6.28571C6.17615 15.6393 6.0684 15.6114 5.97268 15.5584C5.87697 15.5054 5.79647 15.4289 5.73883 15.3363C5.68119 15.2436 5.64831 15.1378 5.64333 15.029C5.63835 14.9201 5.66142 14.8118 5.71036 14.7143L7.42464 11.3045C7.5008 11.1527 7.63445 11.0373 7.7962 10.9835C7.95795 10.9297 8.13455 10.9421 8.28714 11.0178C8.43974 11.0936 8.55583 11.2265 8.60988 11.3874C8.66393 11.5482 8.65151 11.7239 8.57536 11.8756L7.32607 14.3605H9.71429C9.82384 14.3607 9.93154 14.3886 10.0272 14.4418C10.1228 14.4949 10.2032 14.5715 10.2607 14.6642ZM4.57143 1.99988H11.4286C11.5991 1.99988 11.7626 1.93252 11.8831 1.81262C12.0037 1.69272 12.0714 1.5301 12.0714 1.36054C12.0714 1.19097 12.0037 1.02835 11.8831 0.908451C11.7626 0.788551 11.5991 0.721191 11.4286 0.721191H4.57143C4.40093 0.721191 4.23742 0.788551 4.11686 0.908451C3.9963 1.02835 3.92857 1.19097 3.92857 1.36054C3.92857 1.5301 3.9963 1.69272 4.11686 1.81262C4.23742 1.93252 4.40093 1.99988 4.57143 1.99988ZM15.5 6.47529V24.3769C15.5 24.9987 15.2517 25.5949 14.8096 26.0346C14.3676 26.4742 13.768 26.7212 13.1429 26.7212H2.85714C2.23199 26.7212 1.63244 26.4742 1.19039 26.0346C0.748341 25.5949 0.5 24.9987 0.5 24.3769V6.47529C0.5 5.85355 0.748341 5.25728 1.19039 4.81765C1.63244 4.37801 2.23199 4.13103 2.85714 4.13103H13.1429C13.768 4.13103 14.3676 4.37801 14.8096 4.81765C15.2517 5.25728 15.5 5.85355 15.5 6.47529ZM14.2143 6.47529C14.2143 6.19268 14.1014 5.92165 13.9005 5.72182C13.6995 5.52198 13.427 5.40972 13.1429 5.40972H2.85714C2.57298 5.40972 2.30046 5.52198 2.09953 5.72182C1.8986 5.92165 1.78571 6.19268 1.78571 6.47529V24.3769C1.78571 24.6595 1.8986 24.9306 2.09953 25.1304C2.30046 25.3302 2.57298 25.4425 2.85714 25.4425H13.1429C13.427 25.4425 13.6995 25.3302 13.9005 25.1304C14.1014 24.9306 14.2143 24.6595 14.2143 24.3769V6.47529Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'shield' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="22"
                            viewBox="0 0 20 22"
                            fill="none"
                          >
                            <path d="M18.5106 0.221191H1.48936C1.09436 0.221191 0.715534 0.379225 0.436224 0.660527C0.156915 0.941829 0 1.32336 0 1.72118V7.72112C0 13.2861 2.67234 16.6568 4.91489 18.5039C7.33298 20.4967 9.73085 21.1706 9.83191 21.1985C9.94196 21.2288 10.058 21.2288 10.1681 21.1985C10.2691 21.1706 12.667 20.4967 15.0851 18.5039C17.3277 16.6568 20 13.2861 20 7.72112V1.72118C20 1.32336 19.8431 0.941829 19.5638 0.660527C19.2845 0.379225 18.9056 0.221191 18.5106 0.221191ZM18.7234 7.72112C18.7234 11.7668 17.2404 15.0486 14.3149 17.4775C13.0315 18.5389 11.5703 19.3611 10 19.9053C8.4295 19.3615 6.96821 18.5393 5.68511 17.4775C2.75957 15.0486 1.2766 11.7668 1.2766 7.72112V1.72118C1.2766 1.66435 1.29901 1.60984 1.33891 1.56966C1.37881 1.52947 1.43293 1.50689 1.48936 1.50689H18.5106C18.5671 1.50689 18.6212 1.52947 18.6611 1.56966C18.701 1.60984 18.7234 1.66435 18.7234 1.72118V7.72112ZM14.7064 6.40971C14.8259 6.53024 14.8931 6.69363 14.8931 6.86399C14.8931 7.03434 14.8259 7.19773 14.7064 7.31827L8.74894 13.3182C8.62926 13.4386 8.46702 13.5062 8.29787 13.5062C8.12872 13.5062 7.96649 13.4386 7.84681 13.3182L5.29362 10.7468C5.18087 10.6249 5.11949 10.4638 5.1224 10.2972C5.12532 10.1307 5.19231 9.97178 5.30926 9.854C5.42621 9.73622 5.58398 9.66875 5.74934 9.66581C5.91471 9.66288 6.07474 9.72469 6.19574 9.83825L8.29787 11.9543L13.8043 6.40971C13.9239 6.28932 14.0862 6.2217 14.2553 6.2217C14.4245 6.2217 14.5867 6.28932 14.7064 6.40971Z" fill="#A193B7"/>
                          </svg>
                        {%- when 'box' -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="22"
                            viewBox="0 0 20 22"
                            fill="none"
                          >
                            <path d="M18.88 5.08798L10.63 0.5711C10.4371 0.464569 10.2204 0.408691 10 0.408691C9.77965 0.408691 9.56289 0.464569 9.37 0.5711L1.12 5.08798C0.913567 5.20093 0.741297 5.3673 0.621226 5.56967C0.501154 5.77204 0.437698 6.00297 0.4375 6.23829V15.2045C0.437698 15.4399 0.501154 15.6708 0.621226 15.8732C0.741297 16.0755 0.913567 16.2419 1.12 16.3548L9.37 20.8717C9.56295 20.9781 9.77968 21.0339 10 21.0339C10.2203 21.0339 10.4371 20.9781 10.63 20.8717L18.88 16.3548C19.0864 16.2419 19.2587 16.0755 19.3788 15.8732C19.4988 15.6708 19.5623 15.4399 19.5625 15.2045V6.23829C19.5623 6.00297 19.4988 5.77204 19.3788 5.56967C19.2587 5.3673 19.0864 5.20093 18.88 5.08798ZM9.90625 1.55735C9.93384 1.54225 9.96479 1.53434 9.99625 1.53434C10.0277 1.53434 10.0587 1.54225 10.0863 1.55735L17.9228 5.84641L14.7409 7.58735L6.81719 3.25047L9.90625 1.55735ZM9.4375 19.6277L1.65625 15.3686C1.6275 15.352 1.60367 15.3281 1.5872 15.2992C1.57073 15.2704 1.5622 15.2377 1.5625 15.2045V6.84579L9.4375 11.1583V19.6277ZM2.07719 5.84641L5.64625 3.89173L13.5691 8.2286L10 10.1814L2.07719 5.84641ZM18.4375 15.2045C18.4378 15.2377 18.4293 15.2704 18.4128 15.2992C18.3963 15.3281 18.3725 15.352 18.3438 15.3686L10.5625 19.6277V11.1564L13.9375 9.3086V12.9714C13.9375 13.1206 13.9968 13.2637 14.1023 13.3692C14.2077 13.4747 14.3508 13.5339 14.5 13.5339C14.6492 13.5339 14.7923 13.4747 14.8977 13.3692C15.0032 13.2637 15.0625 13.1206 15.0625 12.9714V8.6936L18.4375 6.84579V15.2045Z" fill="#A193B7"/>
                          </svg>
                        {%- else -%}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="19"
                            viewBox="0 0 20 19"
                            fill="none"
                          >
                            <path d="M9.0835 14.3047H10.9168V10.638H14.5835V8.80469H10.9168V5.13802H9.0835V8.80469H5.41683V10.638H9.0835V14.3047ZM10.0002 18.888C8.73211 18.888 7.54044 18.6512 6.42516 18.1776C5.30989 17.6887 4.33975 17.0318 3.51475 16.2068C2.68975 15.3818 2.0328 14.4116 1.54391 13.2964C1.0703 12.1811 0.833496 10.9894 0.833496 9.72135C0.833496 8.4533 1.0703 7.26163 1.54391 6.14635C2.0328 5.03108 2.68975 4.06094 3.51475 3.23594C4.33975 2.41094 5.30989 1.76163 6.42516 1.28802C7.54044 0.799132 8.73211 0.554688 10.0002 0.554688C11.2682 0.554688 12.4599 0.799132 13.5752 1.28802C14.6904 1.76163 15.6606 2.41094 16.4856 3.23594C17.3106 4.06094 17.9599 5.03108 18.4335 6.14635C18.9224 7.26163 19.1668 8.4533 19.1668 9.72135C19.1668 10.9894 18.9224 12.1811 18.4335 13.2964C17.9599 14.4116 17.3106 15.3818 16.4856 16.2068C15.6606 17.0318 14.6904 17.6887 13.5752 18.1776C12.4599 18.6512 11.2682 18.888 10.0002 18.888ZM10.0002 17.0547C12.0474 17.0547 13.7814 16.3443 15.2022 14.9234C16.6231 13.5026 17.3335 11.7686 17.3335 9.72135C17.3335 7.67413 16.6231 5.9401 15.2022 4.51927C13.7814 3.09844 12.0474 2.38802 10.0002 2.38802C7.95294 2.38802 6.21891 3.09844 4.79808 4.51927C3.37725 5.9401 2.66683 7.67413 2.66683 9.72135C2.66683 11.7686 3.37725 13.5026 4.79808 14.9234C6.21891 16.3443 7.95294 17.0547 10.0002 17.0547Z" fill="#735E93"/>
                          </svg>
                      {%- endcase -%}
                    </div>
                    <div class="sk-specifications__text">
                      {{ spec_content }}

                      {%- comment -%} Check for sub-items marked with ++ {%- endcomment -%}
                      {%- if spec_content contains '++' -%}
                        {%- assign main_and_subs = spec_content | split: '++' -%}
                        {%- assign main_content = main_and_subs[0] -%}

                        {{ main_content }}

                        <ul class="sk-specifications__sub-items">
                          {%- for i in (1..10) -%}
                            {%- if main_and_subs[i] != blank -%}
                              <li class="sk-specifications__sub-item">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="#30273E"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <circle cx="12" cy="12" r="10"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/>
                                </svg>
                                {{ main_and_subs[i] | strip }}
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "SK Product Specifications",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Product-Specific Control"
    },
    {
      "type": "paragraph",
      "content": "This section displays technical specifications from product metafields. Add these 2 metafields:"
    },
    {
      "type": "paragraph",
      "content": "1. 'custom.specifications_image' (File) - Upload product image"
    },
    {
      "type": "paragraph",
      "content": "2. 'custom.specifications_content' (Rich text) - Format with icon patterns"
    },
    {
      "type": "paragraph",
      "content": "Icon types: wave, dots, clock, tools, battery, shield, box. Format: ##ICON||<h4>Title</h4><p>Description</p>"
    },
    {
      "type": "paragraph",
      "content": "For sub-items, use ++ separator: ##box||<h4>Dette Får Du</h4>++Item 1++Item 2++Item 3"
    }
  ],
  "presets": [
    {
      "name": "SK Product Specifications"
    }
  ]
}
{% endschema %}
