<style>
  .sk-promotion-logos__container {
    background: {{ section.settings.sk_promotion_bgColor }};
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .sk-promotion-logos {
    margin: 0 1rem;
  }
</style>

<style>
  .sw-publication-{{ section.id }}{
    {% comment %} margin-top: 1rem;
    margin-bottom: 1rem; {% endcomment %}
    overflow-x: hidden;
  }
  .sw-publication-{{ section.id }} .sw-publication__scroll-parent {
      position: relative;
      width: 100vw;
      height: 10rem;
      overflow: hidden;
      margin: 15px 0;
  }

  .sw-publication-{{ section.id }} .sw-publication__scroll-element {
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0%;
      top: 0%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .sw-publication-{{ section.id }} .sw-publication__scroll-element .sw-publication__card{
      flex: 0 0 100px
  }
  .sw-publication-{{ section.id }} .sw-publication__scroll-element .sw-publication__card img,
  .sw-publication-{{ section.id }} .sw-publication__scroll-element .sw-publication__card svg{
      width:100%;
      height: auto;
      display: block;
  }

  .primary {
      animation: primary 60s linear infinite;
  }

  .secondary {
      animation: secondary 60s linear infinite;
  }

  @keyframes primary {
      from {

          transform: translateX(0);
      }
      to {

          transform: translateX(-100%);
      }
  }

  @keyframes secondary {
      from {

          transform: translateX(100%);
      }
      to {

          transform: translateX(0);
      }
  }



  @media only screen and (max-width: 700px) {
    .sw-publication-{{ section.id }} .sw-publication__scroll-element .sw-publication__card{
      flex: 0 0 74px
    }
    .sw-publication-{{ section.id }} .sw-publication__scroll-parent{
      width: 140vw;
      height: 7rem;
    }
  }


  @media only screen and (max-width: 435px) {
    .sw-publication-{{ section.id }} .sw-publication__scroll-element .sw-publication__card{
      flex: 0 0 66px
    }
    .sw-publication-{{ section.id }} .sw-publication__scroll-parent{
      width: 208vw;

    }
  }
</style>

<section class="sw-publication-{{ section.id }}">
  <div class="sw-publication__scroll-parent">
    <div class="sw-publication__scroll-element primary">
      {% for block in section.blocks %}
        <div class="sw-publication__card ">
          {% if block.settings.sk_promotion_svg != blank %}
            {{ block.settings.sk_promotion_svg }}
          {% elsif block.settings.sk_promotion_img != blank %}
            <img
              src="{{ block.settings.sk_promotion_img | image_url: width: 104,height: 104 }}"
              alt="{{ block.settings.sk_promotion_img.alt }}"
              width="104"
              height="104"
            >
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="sw-publication__scroll-element secondary">
      {% for block in section.blocks %}
        <div class="sw-publication__card">
          {{ block.settings.sk_promotion_svg }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "SK Promotion",
  "settings": [
    {
      "type": "color",
      "id": "sk_promotion_bgColor",
      "label": "Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "Card",
      "settings": [
        {
          "type": "html",
          "id": "sk_promotion_svg",
          "label": "SVG Code",
          "info": "Paste your SVG code here. This will be used instead of the image picker if provided."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SK Promotion",
      "category": "Custom"
    }
  ]
}
{% endschema %}
